body {
  margin: 0;
  overflow-x: hidden;
  animation: body-animatinon 3s infinite;
}

/* Animations */

@keyframes top-sliding {
  10% {
    transform: translateX(30px) translateY(50px) translateZ(150px) rotateY(360deg);
  }

  80% {
    transform: translateX(-30px) translateY(-50px) translateZ(-150px) rotateY(360deg);
  }

  90% { 
    transform: translateX(30px) translateY(50px) translateZ(150px) rotateY(360deg);
  }
}

@keyframes scaling {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.5);
  }
}

@keyframes body-animatinon {
  0% {
    background: white;
  }

  50% {
    background: lightskyblue;
  }

  100% {
    background: lightgray;
  }
}

.scaling-animation {
  animation: scaling 3s infinite;
}

h1 {
  font-size: 48px;
  font-weight: 700;
}

p {
  font-size: 16px;
  color: grey;
}

section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  box-shadow: 1px 2px 4.3px 0.5px black;
}

.animated {
  animation: top-sliding 4s infinite;
}

.button-primary {
  background: #722ed1;
  color: white;
}

.button-secondary {
  background: white;
  color: #722ed1;
}

.rounded-element {
  border-radius: 23px;
  height: 38px;
  padding: 12px 24px;
}

.outlined-purple-element {
  border: 1px solid #722ed1;
  color: #722ed1;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin-top: 20px;
}

header .header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}

header nav {
  width: fit-content;
  display: flex;
  align-items: center;
}

header nav * {
  margin: 20px;
}

header nav a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

#tag {
  background: #f7f1ff;
  padding: 8px 16px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 30px;
}

#tag img {
  margin-right: 12px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .hero-section {
  background: url(./images/hero-backround.png) no-repeat;
  background-size: 120% 100%;
  background-position: -130px 30px;
  padding-bottom: 200px;
}

main .hero-wrapper {
  width: 70%;
  margin-top: 100px;
  display: flex;
  align-items: center;
}

main .hero-wrapper .flex-column {
  width: 50%;
  /* same as margin */
  gap: 34px;
}

main .hero-wrapper .flex-column .buttons-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

main .second-section {
  margin-top: 15vh;
}

main .second-section-wrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .second-section-wrapper .features {
  width: 100%;
}

main .second-section-wrapper .features .flex-column {
  text-align: center;
  align-items: center;
  margin: 24px 16px;
}

main .second-section-wrapper .features .flex-column img {
  width: 40px;
  height: 40px;
}

#tag2 {
  background: #f7f1ff;
  padding: 8px 16px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 30px;
  color: #722ED1;
}

#tag2 img {
  margin-right: 12px;
}

main .stack-section-wrapper {
  width: 70%;
  align-items: center;
  margin-top: 120px;
  justify-content: space-between;
  gap: 88px;
}

#tag3 {
  background: #f7f1ff;
  padding: 8px 16px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 224px;
  height: 30px;
  color: #722ED1;
}

#tag3 img {
  margin-right: 12px;
}